name: Build and Validate

on:
  push:
    branches:
      - master
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build and validate multi-arch image
        run: make build-validate

      - name: Display build info
        run: make log

      - name: Upload CI files to artifacts (on failure)
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ci-artifacts
          path: 'ci'
          retention-days: 7
